name: Issue Picked

on:
  # The issues event below is only needed for the default (auto) mode,
  # you can remove it otherwise
  # issues:
  #   types: [ opened, reopened, assigned ]
  issue_comment:
    types: [ created ]

jobs:
  create_issue_branch_job:
    runs-on: ubuntu-latest
    steps:
      - name: Create Issue Branch
        id: cib
        uses: robvanderleek/create-issue-branch@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          EVENT_NAME: ${{ github.event_name }}

      - name: Debug cib
        run: |
          echo ${{ steps.cib.outputs.branchName }}
