name: Publish Docs
on:
  push:
    branches:
      - master
    paths:
      - docs
      - overrides
  workflow_dispatch:


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install tox>=3.25.0
        run: pip install "tox>=3.25.0"

      - name: Update CHANGELOG.md using towncrier
        run: tox -e changes

      - name: Build docs using mkdocs
        run: tox -e docs

      - name: Push repository
        run: git push origin

      - name: Deploy to GH Pages
        run: mkdocs gh-deploy --force
